.keyword
  background: $primary
  border-radius: 7rem
  padding: 0.75rem 1.25rem
  color: $accent
  font-size: 1.8rem
  border: 1px solid $accent
  outline: none
  cursor: pointer
  font-weight: 500
  transition: all .2s
  &:hover
    box-shadow: 0 0 1rem $accent
    background: $accent
    color: $primary
  &--list
    background: $primary
    display: flex
    gap: 1rem
    overflow-x: scroll
    padding: 2rem
    border-radius: 1rem
    scrollbar-width: thin
    scrollbar-color: $accent $primary
