// FLEX
.d-flex
  display: flex
.flex-col
  flex-direction: column
.flex-row
  flex-direction: row

// TEXT ELLIPSIS
.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  
// GAP
@for $i from 1 through 100
  .gap-#{$i}
    gap: calc(#{$i}rem / 10)
